.bodyContainer {
    background-image: url("https://i.postimg.cc/7hCh0wyZ/cooking.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    height: 100vh;
    
    }
      
      .subscript{
        font-size: small;
        color: rgb(160, 153, 153);
      }
      
      .info-div-parent{
        display: flex;  
        flex-direction: column;
        justify-content: left;
        text-align: left;
        margin-left: 10px;
        margin: none;
      }
      
      .info-div {
        text-align: left;
        justify-content: left;
        margin: none;
      }
    
      #card-panel {
          border: double;
          width: 100%px;
          height: 100%;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          align-items: center;
          
         
      }
    
      a.btn-small {
          background-color: maroon;
          margin-top:10px;
          border-radius: 10px;
      }

      a.btn-small:hover{
        color: black;
        background-color: maroon;
        box-shadow: 0 0 10px black;
      }
    
      .container {
          display: flex;
      }
    
      .row .col.s6 {
        margin: auto;
        padding: 10px;
        display: inline-block;
        width: 100%;
      }
      form {
        display: inline-block;
    }
    .nav-wrapper {
        border: double;
        background-color: maroon;
    }
    a.btn {
        border: double;
        background-color: maroon;
    
    }


    a.btn-large {
      position: relative;
    }

    #row1-search-text,#col1-search-text{
      width: 100%;
    }

    #col1-search-text {
      margin-top: 20px;
      margin-bottom: 10px;
    }

    #row2-search-text{
      display: flex;
      justify-content: center;
      /* margin-bottom: 0px; */
    }


 .input-field.col{
   width: 70%;
   padding: 0;
   display: flex;
   justify-content: space-evenly;
   background: rgba(207, 207, 207, 0.8);
   border-radius: 15px;
   margin-bottom: 0px;

 }

 #btnadd{
   background-color: rgba(255, 255, 255, 0);
   border: none;
 }

 #textarea1{
   border: none;
 }

 #textarea1:active{
  border-bottom: 1px solid black;

}


#list-of-ingredients{
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
}
.ingredient-list{
  width:max-content;
  padding: 5px;
  margin: 5px 5px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(145, 145, 145);
}

.remove-ingredient-button{
  border: none;
  color: grey;
  background: rgba(255, 255, 255, 0);
  cursor:pointer;
  padding-left: 20px;
}

.remove-ingredient-button:hover{
  color: red;
  font-weight: 700;
}

.ingredient-list:nth-child(1n){
  background-color: rgba(254, 48, 62, 0.5);
}

.ingredient-list:nth-child(2n){
  background-color: rgba(115, 161, 50, 0.5);
}

.ingredient-list:nth-child(3n){
  background-color: rgba(242, 217, 30, 0.5);
}

.ingredient-list:nth-child(4n){
  background-color: rgba(252, 107, 28, 0.5);
}

.ingredient-list:nth-child(5n){
  background-color: rgba(216, 222, 186, 0.5);
}

.ingredient-list:nth-child(6n){
  background-color: rgba(113, 12, 11, 0.5);
}

#textarea1::placeholder{
  color:rgb(36, 35, 35);
  opacity: 1;
  font-weight: 600;
}

#recipe-modal-header {

  background-color: maroon;
  color: white;


}
