body{
  background:powderblue;
  font-family: 'Raleway', sans-serif;
  color:#46595C;
}

#theFormDiv{
  box-shadow: 5px 5px 20px #8cb3b8;
  overflow:hidden;
  width:95vw;
  height:20vw;
  display:inline-block;
  position:relative;
  background:lightblue ;
  padding:1vw;
  border-radius:5vw;
  margin:15px;
}
/* text box for searching the recipe */
#q{
  padding: 1px;
  font-size: 2vw;
  border: 2px solid rgb(93, 160, 6);
  float: center;
  width: 45vw;
  height: 5vw;
  border-radius:5vw;
  background: #f1f1f1;
}

/* text box for typing items from the fridge */
#ad{
  padding: 1px;
  font-size: 2vw;
  border: 1px solid grey;
  float: center;
  width: 45vw;
  height: 5vw;
  border-radius:5vw;
  background: #f1f1f1;
  margin-top: 1px;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10px; /* Location of the box */
  left: 0;
  top: 200px;
  width: 50%; /* Half width */
  height: 50%; /* Half height */
  overflow: auto; /* Enable scroll if needed */
  background-color: lightgreen;

}
 /*Modal Content */ 
.modal-content {
  background-color: lightgreen;
  margin: auto;
  padding: 50px;
  border: none
  width: 100%;
  height: 85%;
}

/* The Close Button */
.close {
  display: block;
  position: relative;
  color: #aaaaaa;
  float: right;
  font-size: 5vw;
  font-weight: bold;
  background-color: lightgreen;
  border-radius: 1px;
  border-style: inset;
  border-color: red;
  border-width: medium;
}

.close:hover,
.close:focus {
  color: rgb(252, 11, 11);
  text-decoration: none;
  cursor: pointer;
}




form.clsSearchForm button:hover {
  background: #0b7dda;
}

form.clsSearchForm::after {
  content: "";
  clear: both;
  display: table;
}

/* Search Button*/
#btnsearch {
  float: center;
  width: 5vw;
  height: 5vw;
  background: #2196F3;
  color: white;
  font-size: 2vw;
  border-left: none;
  border-radius: 2vw;
  cursor: pointer;

  
}
/* add button */
#btnadd {
  position: relative;
  float: center;
  width: 5vw;
  height: 5vw;
  background: #2196F3;
  color: white;
  font-size: 2vw;
  border-left: none;
  border-radius: 2vw;
  cursor: pointer;
  
}

#btnsearch :hover {
  background: #0b7dda;
}


h1{
  text-align:center;
  font-family: 'Monofett', cursive;
  font-size:120px;
  line-height:20px;
}
h2{
  font-size: 2vw;
}

.clsSearchForm{
  text-align:center;
  font-size:18px;
  margin:30px;
  padding: 10px;
  float: center;
  
}

.results{
  margin:0 auto;
  /*border: black solid 3px;*/
  width:79vw;
  height:100%;
}

.recipe{
  box-shadow: 5px 5px 20px #8cb3b8;
  overflow:hidden;
  width:35vw;
  height:40vw;
  display:inline-block;
  position:relative;
  background:lightblue ;
  padding:1vw;
  border-radius:5vw;
  margin:15px;
}

a, .text{
  color:#bfdb1e;
  text-align:center;
  font-size:1.5vw;
  line-height:1px;
  text-decoration: none;
  font-family: 'Coiny', cursive;
}

a:hover, .text:hover{
  color:#b5bcbd;
}

a:visited, a > .text:visited{
  color:#8e76a7;
}

.box{
  height:100%;
  width:33vw;
}

.pic{
  box-shadow: 5px 5px 20px #c8bcac;
  border:20px solid powderblue;
  height:15vw;
  width:15vw;
  border-radius:2vw;
  margin:1vw;
}

.pic:hover{
  height:17vw;
  width:17vw;
  border:0px;
}

.info, .caloryInfo, .fatinfo, .suginfo{
  box-shadow: 5px 5px 20px #c8bcac;
  border-radius: 13vw;
  padding: 1vw;
  text-align:center;
  font-size:1vw;
  float: left;;
  margin-top:0.5vw;
  margin-left:2vw;
}

.info{
  background-color: lightyellow;
}

.infoBox{
  margin-top:0.33vw;
  width:13vw;
  float: left;;
}

.orange{
  background-color: #FFDFA5;
}

.red{
  background-color: red;
}

.green{
  background-color: #C5FFA5;
}